#container {

    display: flexbox;
    padding: 0rem;

}

.filmes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    margin: 5rem;
    background-color: blueviolet;
}

body {
    background-color: rgb(56, 39, 39);
    color: blanchedalmond;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    
}
header {
    background-color: black;
    border: outset 50px pink;
    color: blue;

}

.central {
text-align: center;

}

.outros {
    display: flex;

}